$maxWidth: 500px;
$primaryLight: #faf0f1;
$taupe: #c8a0a1;
$darkTaupe: #a66e70;
$primaryBorderRadius: 2rem;

body {
  background: rgb(174, 127, 129);
  background: linear-gradient(
    90deg,
    rgba(174, 127, 129, 1) 0%,
    rgba(228, 180, 181, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
  a {
    color: $darkTaupe;
  }
}

@media (max-width: 650px) {
  body {
    background: $darkTaupe;
  }
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.2);
}

.Header {
  width: 100%;
  height: 80vh;
  max-height: 700px;
  max-width: $maxWidth;
  background-color: $taupe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $primaryBorderRadius;
  margin-bottom: 0.5rem;
  .Header--top {
    height: 75%;
    background-image: url("https://i.imgur.com/zEow3oQ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: $primaryBorderRadius;
    border-top-right-radius: $primaryBorderRadius;
    .Header--info-button {
      background-color: $taupe;
      margin: 1.5rem;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background-color: $darkTaupe;
      }
    }
  }
  .Header--bottom {
    color: white;
    // padding: 2rem;
    padding: 1rem 2rem 1.5rem 2rem;
    h1 {
      font-size: 1.8rem;
    }
    h3 {
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      opacity: 0.7;
    }
  }
}

.Deals {
  width: 100%;
  max-width: $maxWidth;
}

div.Deals > div:last-child {
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

div.Deals > div:first-child {
  margin-top: 0;
}

.DealToggle {
  background-color: $primaryLight;
  color: $darkTaupe;
  padding: 2rem 2rem 7rem 2rem;
  border-top-left-radius: $primaryBorderRadius;
  border-top-right-radius: $primaryBorderRadius;
  margin-top: -6rem;

  .DealToggle--title h3 {
    font-size: 1.2rem;
    margin-top: 0;
  }
}

.DealToggle--content {
  margin-bottom: 1rem;
}

.DealToggle--actions {
  margin-bottom: 1rem;
  margin-top: 2rem;
  height: 100%;
  display: flex;
  a {
    height: 20px;
    padding: 1rem 2rem;
    margin: 0.4rem;
    color: $primaryLight;
    text-decoration: none;
    background-color: $darkTaupe;
    border-radius: 0.5rem;
    &:first-child {
      margin-left: 0;
      background-color: $taupe;
    }
    i {
      padding-right: 5px;
    }
  }
}
