$maxWidth: 500px;
$primaryLight: #faf0f1;
$taupe: #c8a0a1;
$darkTaupe: #a66e70;
$primaryBorderRadius: 2rem;

body {
  background: rgb(174, 127, 129);
  background: linear-gradient(
    90deg,
    rgba(174, 127, 129, 1) 0%,
    rgba(228, 180, 181, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 650px) {
  body {
    background: $primaryLight;
  }
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .box-shadow {
//   -webkit-box-shadow: 0px 0px 30px 7px rgba(166, 110, 112, 0.3);
//   -moz-box-shadow: 0px 0px 30px 7px rgba(166, 110, 112, 0.3);
//   box-shadow: 0px 0px 30px 7px rgba(166, 110, 112, 0.3);
// }

.box-shadow {
  -webkit-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 7px rgba(0, 0, 0, 0.2);
}

.Header {
  width: 100%;
  height: 90vh;
  max-height: 700px;
  max-width: $maxWidth;
  background-color: $taupe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $primaryBorderRadius;
  .Header--top {
    height: 75%;
    background-image: url("https://i.imgur.com/zEow3oQ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-left-radius: $primaryBorderRadius;
    border-top-right-radius: $primaryBorderRadius;
    .Header--info-button {
      background-color: $taupe;
      margin: 1.5rem;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background-color: $darkTaupe;
      }
    }
  }
  .Header--bottom {
    color: white;
    // padding: 2rem;
    padding: 2rem 2rem 7rem 2rem;
    h1 {
      font-size: 1.8rem;
    }
    h3 {
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.Deals {
  width: 100%;
  max-width: $maxWidth;
}

.DealToggle {
  background-color: $primaryLight;
  color: $darkTaupe;
  padding: 1.75rem 2rem 7rem 2rem;
  border-top-left-radius: $primaryBorderRadius;
  border-top-right-radius: $primaryBorderRadius;
  margin-top: -6rem;

  .dealTitle h1 {
    // font-size: 1rem;
    // font-family: "Roboto", Sans-Serif;
  }
  .dealTitle p {
    // font-size: 0.8rem;
    // text-transform: uppercase;
    // letter-spacing: 0.02rem;
  }
}

.dealContent {
  // padding-top: 0.5rem;
}
